@import 'bootstrap.min.css';
@import 'hl/solarized_light.css';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

$sidebar-width: 50px;
$lines-width: 55px;
$bg-color: #252525; // #00282C
$bg-special: #007381;

.reset {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    resize: none;
    border: 0px;
}

html, body {
    @extend .reset;
    // overflow: hidden;
    background-color: $bg-color;
}

.sep {
    color: gray;
}

#wrapper {
    background-color: $bg-color; /* $bg-special */
    @extend .reset;
}

#sidebar-wrapper {
    z-index: 10;
    position: fixed;
    right: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    margin-right: -$sidebar-width;
    background: #000;
    padding-left: 10px;
    padding-top: 15px;
    overflow: hidden;
}

.sidebar-item {
    font-size: $sidebar-width - 15;
    img {
        width: $sidebar-width - 20;
        border: 2px solid $bg-special;
    }
    a {
        color: $bg-special;
    }
}

#page-content-wrapper {
    @extend .reset;
    z-index: 10;
    background: transparent;
    position: absolute;
    padding-top: 15px;
    padding-left: $lines-width;
    padding-right: $sidebar-width;
}

#box {
    @extend .reset;
    padding-left: 10px;
    padding-top: 5px;
    background: transparent !important;
    color: #fff;
    font-size: 13px;
    overflow: visible;
    display: inline-block;
    // white-space: pre-wrap;
    // word-wrap: break-word;
}

a {
    color: inherit;
}

#lines {
    z-index: 2;
    background: transparent;
    position: absolute;
    left: $lines-width;
    width: $lines-width;
    margin-left: -$lines-width;
    margin-right: $lines-width / 3;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: right;
    font-family: monospace;
    font-size: 13px;
    color: #919191;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Not implemented bny any browsers just yet */
    -o-user-select: none;
    user-select: none;
    a {
        color: inherit;
        text-decoration: none;
    }
}

#input-wrapper {
    @extend .reset;
}

#text-input {
    @extend .reset;
    overflow: hidden !important;
    background: transparent;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: -5px;
    font-family: monospace;
    font-size: 13px;
    // min-width: 500px;
    // min-height: 500px;
}

#logo {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    bottom: 30px;
    right: -$sidebar-width + 25;
    margin-bottom: 15px;
    margin-right: -5px;
    position: fixed;
    font-size: 30px;
    color: $bg-special;
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: $bg-color;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: $bg-special; // #1E72FF
    background-clip: padding-box;
    border: 3px solid $bg-color;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #BBBBBB;
}


#loading {
    color: #fff;
    font-size: 20px;
}

#more-info {
    $pad: 5px;
    position: fixed;
    top: $pad;
    right: $sidebar-width + $pad;
    span {
        background-color: $bg-special;
        color: #939393;
        padding: 2px 3px 2px 3px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 2px;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0;
    padding-top: 0;
}

.popover-content {
    padding: 2px;
}

.popover {
    background-color: $bg-color;
    box-shadow: 0px 0px 3px 1px $bg-special;
}

.alert {
    min-width: 500px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.loader {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#growls {
    z-index: 50000;
    position: fixed;
}

#growls.default {
    top: 10px;
    right: 10px;
}

#growls.tl {
    top: 10px;
    left: 10px;
}

#growls.tr {
    top: 10px;
    right: 10px;
}

#growls.bl {
    bottom: 10px;
    left: 10px;
}

#growls.br {
    bottom: 10px;
    right: 10px;
}

#growls.tc {
    top: 10px;
    right: 10px;
    left: 10px;
}

#growls.bc {
    bottom: 10px;
    right: 10px;
    left: 10px;
}

#growls.tc .growl,
#growls.bc .growl {
    margin-left: auto;
    margin-right: auto;
}

.growl {
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: relative;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.growl.growl-incoming {
    opacity: 0;
    filter: alpha(opacity=0);
}

.growl.growl-outgoing {
    opacity: 0;
    filter: alpha(opacity=0);
}

.growl.growl-small {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.growl.growl-medium {
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.growl.growl-large {
    width: 300px;
    padding: 15px;
    margin: 15px;
}

.growl.growl-default {
    color: #FFF;
    background: #7f8c8d;
}

.growl.growl-error {
    color: #FFF;
    background: #C0392B;
}

.growl.growl-notice {
    color: #FFF;
    background: #2ECC71;
}

.growl.growl-warning {
    color: #FFF;
    background: #F39C12;
}

.growl .growl-close {
    cursor: pointer;
    float: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: helvetica, verdana, sans-serif;
}

.growl .growl-title {
    font-size: 18px;
    line-height: 24px;
}

.growl .growl-message {
    font-size: 14px;
    line-height: 18px;
}
