<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Disable mobile zooming to prevent breaking, and hiding code behind navbars -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="description" content="Paste.ml -- pastebin webservice.">
        <meta name="author" content="Liam Stanley">
        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <title>Paste.ml &middot; {% block title %}{% endblock title %}</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/hl/solarized_light.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/highlight.pack.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/notify.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="page-content-wrapper">
                {% block content %}{% endblock content %}
            </div>
            <div id="sidebar-wrapper">
                {% if session.authed %}
                    <span title="{{ session.git.name }}" class="sidebar-item">
                        <img class="img-responsive img-circle" src="{{ session.git.avatar_url }}" data-toggle="modal" data-target="#controlPanel" />
                    </span>
                {% endif %}
                {% if not paste %}
                    <span data-toggle="tooltip" title="Save paste" class="sidebar-item">
                        <a id="submit-paste" href="#"><i class="fa fa-save"></i></a>
                    </span>
                {% endif %}
                <span data-toggle="tooltip" title="New paste" class="sidebar-item">
                    <a href="/"><i class="fa fa-plus-circle"></i></a>
                </span>
                {% if paste %}
                    <span class="sep">------</span>
                    {% if paste != 'about.md' %}
                        <span data-toggle="tooltip" title="Duplicate and edit" class="sidebar-item">
                            <a href="/dup/{{ paste }}"><i class="fa fa-copy"></i></a>
                        </span>
                    {% endif %}
                    <span data-toggle="tooltip" title="Just text" class="sidebar-item">
                        <a href="/t/{{ paste }}"><i class="fa fa-file-text"></i></a>
                    </span>
                {% endif %}
                <span class="sep">------</span>
                {% if paste != 'about.md' %}
                    <span data-toggle="tooltip" title="About paste.ml" class="sidebar-item">
                        <a href="/about.md"><i class="fa fa-info-circle"></i></a>
                    </span>
                {% endif %}
                {% if session.authed %}
                    <span data-toggle="tooltip" title="Log out" class="sidebar-item">
                        {% if paste %}
                            <a href="/logout?next={{ paste }}"><i class="fa fa-sign-out"></i></a>
                        {% else %}
                        <a href="/logout"><i class="fa fa-sign-out"></i></a>
                        {% endif %}
                    </span>
                {% else %}
                    <span data-toggle="tooltip" title="Log in" class="sidebar-item">
                        {% if paste %}
                            <a href="/login?next={{ paste }}"><i class="fa fa-sign-in"></i></a>
                        {% else %}
                            <a href="/login"><i class="fa fa-sign-in"></i></a>
                        {% endif %}
                    </span>
                {% endif %}
                <!--<span data-toggle="tooltip" title="Fork on Github" class="sidebar-item">-->
                <!--    <a href="https://github.com/Liamraystanley/paste.ml"><i class="fa fa-github"></i></a>-->
                <!--</span>-->
                <!-- <span data-toggle="tooltip" title="Something else" class="sidebar-item">
                    <a href="#"><i class="fa fa-save"></i></a>
                </span> -->
                <a href="/"><p id="logo">paste.ml</p></a>
            </div>
        </div>
        {% if session.authed %}
            {% include 'panel.html' %}
        {% endif %}
    </body>
</html>
