<!DOCTYPE html>
<html lang="en" ng-app="main">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Disable mobile zooming to prevent breaking, and hiding code behind navbars -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="description" content="Dropbin -- pastebin webservice.">
        <meta name="author" content="Liam Stanley">
        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <title>Dropbin &middot; {% block title %}{% endblock title %}</title>

        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/hl/solarized_light.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.7.2/angular-chart.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    </head>

    <body>
        <div class="hidden"></div>
        <div id="wrapper">
            <div id="page-content-wrapper">
                {% block content %}{% endblock content %}
            </div>
            <div id="sidebar-wrapper">
                {% if session.authed %}
                    <span title="{{ session.git.name }}" class="sidebar-item">
                        <img class="img-responsive img-circle" src="{{ session.git.avatar_url }}" data-toggle="modal" data-target="#controlPanel" />
                    </span>
                {% endif %}
                {% if not paste %}
                    <span data-toggle="tooltip" title="Save paste" class="sidebar-item">
                        <a id="submit-paste" href="#"><i class="fa fa-save"></i></a>
                    </span>
                {% endif %}
                <span data-toggle="tooltip" title="New paste" class="sidebar-item">
                    <a href="/"><i class="fa fa-plus-circle"></i></a>
                </span>
                {% if paste %}
                    <span class="sep">------</span>
                    {% if paste.name != 'about.md' %}
                        <span data-toggle="tooltip" title="Duplicate and edit" class="sidebar-item">
                            <a href="/dup/{{ paste.name }}"><i class="fa fa-copy"></i></a>
                        </span>
                    {% endif %}
                    <span data-toggle="tooltip" title="Just text" class="sidebar-item">
                        <a href="/t/{{ paste.name.split(".")[0] }}"><i class="fa fa-file-text"></i></a>
                    </span>
                {% endif %}
                <span class="sep">------</span>
                {% if paste %}
                    {% if paste.name != 'about.md' %}
                        <span data-toggle="tooltip" title="About Dropbin" class="sidebar-item">
                            <a href="/about.md"><i class="fa fa-info-circle"></i></a>
                        </span>
                    {% endif %}
                {% endif %}
                {% if session.authed %}
                    <span data-toggle="tooltip" title="Log out" class="sidebar-item">
                        {% if paste %}
                            <a href="/logout?next={{ paste.name }}"><i class="fa fa-sign-out"></i></a>
                        {% else %}
                        <a href="/logout"><i class="fa fa-sign-out"></i></a>
                        {% endif %}
                    </span>
                {% else %}
                    <span data-toggle="tooltip" title="Log in" class="sidebar-item">
                        {% if paste %}
                            <a href="/login?next={{ paste.name }}"><i class="fa fa-sign-in"></i></a>
                        {% else %}
                            <a href="/login"><i class="fa fa-sign-in"></i></a>
                        {% endif %}
                    </span>
                {% endif %}
                <a href="/"><p id="logo">dropbin</p></a>
            </div>
        </div>
        {% if session.authed %}
            {% include 'panel.html' %}
        {% endif %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/js/libs.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="/static/js/angular-chart.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
