<div class="modal fade" id="controlPanel" tabindex="-1" role="dialog" aria-labelledby="controlPanelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="controlPanelLabel">Control Panel</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#cp-pastes" data-toggle="tab">Pastebins</a></li>
                            <li><a href="#cp-settings" data-toggle="tab">Settings</a></li>
                            <li><a href="#cp-account" data-toggle="tab">Account</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="cp-pastes">
                                <h2>My pastebins</h2>
                                <hr>
                            </div>
                            <div class="tab-pane" id="cp-settings">
                            </div>
                            <div class="tab-pane" id="cp-account">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
